.comments{
    margin-top: 32px;
}

.body{
    border: 1px solid #3c3cc6;
    border-radius: 12px;
}

.list{
    padding: 0 16px;
}

.comments h1{
    color: white;
    font-family: "Helvetica Neue";
    background-color: #5a9ed0;
    padding: 16px;
    border-radius: 12px 12px 0px 0px;
}