.profile{
    margin-top: 32px;
    width: 100%;
    height: 200px;
}

.body{
    background: linear-gradient(#efd9ac, #cbc7ab);
}

.row{
    display: flex;
    align-items: center;
}

.image{
    padding: 4px;
}

.text{
    padding: 16px;
}

.text p{
    margin-bottom: 16px;
}

.image img{
    width: 200px;
    height: 200px;
    object-fit: cover;
}

.name{
    font-size: 24px;
    line-height: 32px;
}

.age{
    font-size: 20px;
    line-height: 24px;
}

.sity{
    color: #9e9b9b;
    font-style: italic;
}

.posts{
    margin-top: 32px;
    padding: 16px;
}

.posts li{
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 8px;
    padding: 8px;
    color: #fff;
    background: linear-gradient(#80a8f5, #9191e5);
    border-radius: 12px;

}

.addPost{
    display: flex;
    background-color: #9e9b9b;
    border-radius: 4px;
    padding: 16px;
    justify-content: space-between;
    margin: 0 16px;
}

.addPost button{
    padding: 4px 12px;
    border-radius: 4px;
    background-color: #e87a7a;
    border: 1px solid #e87a7a;
    color: #fff;
    transition: 0.1s ease;
}

.addPost button:hover{
    background-color: #fff;
    color: #e87a7a;
    transition: 0.1s ease;
}

.addPost input{
    flex: 1;
    margin-right: 32px;
    border-radius: 4px;
    border: 1px solid #fafafa;
    padding: 4px;
}