.nav{
    margin-top: 32px;
    padding: 16px;
    border-right: 2px solid #9e9b9b;
    border-left: 2px solid #9e9b9b;
}

.list{
    padding-left: 0;
    margin: 0;
}

.item{
    list-style: none;
    margin-bottom: 16px;
}

.item:last-child{
    margin-bottom: 0;
}

.item a{
    font-size: 18px;
    line-height: 24px;
    text-decoration: none;
    font-style: italic;
    display: inline-block;
    padding: 8px 18px;
    border: 2px solid #8A93A8;
    width: 100%;
    border-radius: 12px;
}

.item a:hover{
    background-color: #F1F6FB;
}

.item a.activeLink{
    color: #3D7EFF;
    border: 2px solid #3D7EFF;
}